<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Attendance App</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    </head>
    <body>
      <h1>Attendance App</h1>

      <form class="ui huge form" method="POST" action="/names">
        <div class="four fields">
          <div class="field"> <input type="text" name="name" placeholder="Student"> </div>
          <input class="ui primary basic button" type="submit" value="Check In">
        </div>
      </form>

        <% for(name in names) { %>
        <h2> <%= name%>, checked in <%= names[name] %>x </h2>
        <% } %>

    </body>

  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</html>
